<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/attaque" method="post">
    <label for="targetPigeonnierUrl">URL du pigeonnier cible:</label><br>
    <input type="text" id="targetPigeonnierUrl" name="targetPigeonnierUrl"><br><br>

    <label for="attackNumber">Chiffre de l'attaque (0-9):</label><br>
    <input type="number" id="attackNumber" name="attackNumber" min="0" max="9"><br><br>

    <input type="submit" value="Attaquer">
</form>
</body>
</html>