<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">
<head>
    <title>Liste des Pigeons</title>
</head>
<body>
<h1>Liste des Pigeons</h1>
<div th:if="${message != null}" th:text="${message}" style="color: green;"></div>
<table>
    <tr>
        <th>Nom</th>
        <th>Propriétaire</th>
        <th>Code</th>
    </tr>
    <tr th:each="pigeon : ${pigeons}">
        <td th:text="${pigeon.nom}"></td>
        <td th:text="${pigeon.proprio}"></td>
        <td th:text="${pigeon.code}"></td>
    </tr>
</table>
<button><a href="/pigeons/add">Ajouter un Pigeon</a></button>
<br>
<button><a href="http://localhost:8080/attaque">Attaquer</a></button>
<button><a href="http://localhost:8080/pigeons">Actualiser</a></button>

<h2>Historique des Pigeons</h2>
<table>
    <tr>
        <th>Nom</th>
        <th>Propriétaire</th>
        <th>Code</th>
        <th>Date d'Entrée</th>
        <th>Date dde Sortie</th>
    </tr>
    <tr th:each="historique : ${historiquePigeons}">
        <td th:text="${historique.nom}"></td>
        <td th:text="${historique.proprio}"></td>
        <td th:text="${historique.code}"></td>
        <td th:text="${historique.dateEntree}"></td>
        <td th:text="${historique.dateSortie}"></td>
    </tr>
</table>
</body>

</html>